<div class="container">
    <div class="services">
        <div class="row">
            <div class="col-lg-4">
                <div class="h1">
                    <h1>C</h1>
                    <div class="sub">
                        <span>ontact us</span>
                    </div>
                </div>
                <p>
                    500 Terry Francine Street <br>
                    San Francisco, CA 94158
                </p>

                <a href="tel:123-456-7890">Tel: 123-456-7890
                </a><br>
                <a href="">Fax: 123-456-7890</a>
            </div>
            <div class="col-lg-8">
                <div class="inner-div">
                    <div class="img-div">
                        <div class="img">
                            <img src="../../../assets/images/contact.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="gallery mb-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="gallery-inner-div">
                    <div class="gallery-img-div">
                        <div class="img">
                            <form action="" [formGroup]="contactForm">
                                <div class="container d-flex justify-content-center mt-5"
                                    style="padding-left: 4rem;padding-right: 4rem;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" id="fname" name="Name" class="form-control" placeholder="Name"
                                            formControlName="name">
                                            <div *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].errors?.['required']"
                                            class="text-danger">
                                            First Name is Required
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="email" id="lname" name="email" class="form-control" placeholder="Email"
                                            formControlName="email">
                                            <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].errors?.['required']"
                                            class="text-danger">
                                            Email is Required
                                            </div><br><br>
                                        </div>
                                        <div class="col-lg-12">
                                            <input type="text" id="lname" name="subject" placeholder="Subject"
                                            formControlName="subject">
                                            <div *ngIf="contactForm.controls['subject'].touched && contactForm.controls['subject'].errors?.['required']"
                                            class="text-danger">
                                            Subject is Required
                                            </div>
                                            <br><br>
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea rows="4" cols="50" name="comment"
                                                 formControlName="message" placeholder="Message">Message</textarea>
                                                <div *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['required']"
                                            class="text-danger">
                                            Message is Required
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button (click)="userQuery()">submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h1" id="h1">
                    <h1>G</h1>
                    <div class="sub">
                        <span>et in Touch</span>
                    </div>
                </div>
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
                </p>
                <a href="">Book a Consultation
                    <div class="line">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- two way Binding -->
<!-- <input type="text" [(ngModel)]="name">
{{name}}
<!-- one way Binding -->
{{name1}}
<input type="text" name="" id="" [value]="name1">
<h2>Color Change</h2>
<p appHighlight="color">Highlight me!</p>
<input type="radio" name="color" (click)="clickGreen()">Green
<input type="radio" name="color" (click)="clickPink()">Green
<input type="radio" name="color" (click)="clickBlue()">Blue -->


