<div class="container container-bg">
    <div class="row">
        <div class="col-lg-12">
            <h1>Belle</h1>
            <h1>Wedding</h1>
            <p>Bespoke Wedding Planners</p>
            <button>Discovery call</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="services">
        <div class="row">
            <div class="col-lg-4">
                <div class="h1">
                    <h1>S</h1>
                    <div class="sub">
                        <span>ervices</span>
                    </div>
                </div>
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. I’m a great place for you to
                    tell a story and let your users know a little more about you.
                </p>
                <a href="">View Our Packages
                    <div class="line">

                    </div>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="inner-div">
                    <div class="img-div">
                        <div class="img">
                            <img src="../../../assets/images/girl.webp" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="gallery mb-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="gallery-inner-div">
                    <div class="gallery-img-div">
                        <div class="img">
                            <img src="../../../assets/images/image1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h1">
                    <h1>G</h1>
                    <div class="sub">
                        <span>allery</span>
                    </div>
                </div>
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font.
                </p>
                <a href="">View Our Photos
                    <div class="line">

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="row">
            <div class="col-lg-4 mt-5">
                <div class="h1 mt-5">
                    <h1>T</h1>
                    <div class="sub">
                        <span>estimonials</span>
                    </div>
                </div>
                <p>
                    "I would recommend Belle Weddings to anyone looking to have a beautiful and happy wedding"
                </p>
                <h5>- Mia Taylor</h5>
                <a href="">More Testimonials
                    <div class="line">

                    </div>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="inner-div">
                    <div class="img-div">
                        <div class="img">
                            <img src="../../../assets/images/image2.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>