<section class="">
    <div class="container bg-image mb-5 mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-div">
                    <h1>log In</h1>
                    <form action="" class="text-center d-flex justify-content-center flex-column"
                        [formGroup]="Loginform" style="width: 50%;margin: auto;">
                        <div class="mb-4 input"><input class="form-control" type="email" required=""
                                formControlName="email" placeholder="Email" autocomplete="off">
                            <div *ngIf="Loginform.controls['email'].touched && Loginform.controls['email'].errors?.['required']"
                                class="text-dag text-danger mt-1">
                                Email is required
                            </div>
                            <div class="position-relative mx-auto mt-4"><input class="form-control" type="password"
                                    required="" formControlName="password" placeholder="Password"
                                    [type]="show ? 'text' : 'password'" autocomplete="off">
                                <div *ngIf="Loginform.controls['password'].touched && Loginform.controls['password'].errors?.['required']"
                                    class="text-dag text-danger mt-1">
                                    Password is required
                                </div>
                                <div class="show-eye">
                                    <div class="show-hide" (click)="showPassword()"><span class="show"><i
                                                class="fa {{show? 'fa-eye' : 'fa-eye-slash'}}"></i></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class=""><a routerLink="../forget" ariaCurrentWhenActive="page">Forget Password</a></p>
                        </div>
                        <div class="mt-3 input"><button (click)="loginUser()">login</button></div>
                        <!-- <div class="mt-3 input">
                            <a href="../../users/home/">login</a>
                        </div> -->
                        <div>
                            <p class="text-center">Don't have an Account ?
                                <a routerLink="../register" ariaCurrentWhenActive="page">Sign Up</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>