<section class="">
    <div class="container bg-image mb-5 mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-div">
                    <h1>Forget Password</h1>
                    <form action="" class="text-center" [formGroup]="forgetPassword">
                        <div class="mt-3 input"><input type="email" class="form-control" placeholder="Email"
                                formControlName="email">
                            <div *ngIf="forgetPassword.controls['email'].touched && forgetPassword.controls['email'].errors?.['required']"
                                class="text-danger">
                                Invalid Email
                            </div>
                        </div>
                        <div class="mt-3 input"><button (click)="sendOtp()">Send OTP</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <a routerLink="/auth/reset" routerLinkActive="active" ariaCurrentWhenActive="page"
class="header_links active">Reset</a> -->
<!-- modal -->
<button class="d-none" #modalOpen (click)="open(content)"></button>
<button class="d-none" #modalService ></button>


<ng-template #content let-modal>
	<div class="modal-header">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="forgetPassword">
			<div class="mb-3">
				<h3 for="dateOfBirth">OTP Verification</h3>
				<div class="input-group justify-content-center">
					<ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
				</div>
			</div>
		</form>
	</div>
    <div class="modal-footer">
		<button type="button" (click)="verifyOtp()"  class="btn btn-outline-lite" >Verify</button>
		<button type="button" (click)="resendOtp()"  class="btn btn-outline-lite" >Resend Otp</button>

	</div>
</ng-template>

