<section class="">
    <div class="container bg-image mb-5 mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-div">
                    <h1>Forget Password</h1>
                <form action="" class="text-center">
                    <div class="mt-3 input"><input type="email" placeholder="Email"></div>
                    <div class="mt-3 input"><button>Send OTP</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
