<section class="">
    <div class="container bg-image mb-5 mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-div">
                    <h1>Register</h1>
                    <form action="" class="">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="row">
                                    <div class="mt-3 input col-lg-6"><input type="text" placeholder="First Name"></div>
                                    <div class="mt-3 input col-lg-6"><input type="text" placeholder="Last Name"></div>
                                    <div class="mt-3 input col-lg-12"><input type="email" placeholder="Email"></div>
                                    <div class="mt-3 input col-lg-12"><input type="number" placeholder="Phone No."></div>
                                    <div class="mt-3 input col-lg-12"><input type="text" placeholder="Password"></div>
                                    <div class="mt-3 input col-lg-12"><input type="text" placeholder="Confirm Password"></div>
                                    <div class="mt-3 input col-lg-12"><input type="text" placeholder="Company Name"></div>
                                    <div class="mt-3 input col-lg-12"><input type="Text" placeholder="About/Bio"></div>
                                    <div class="mt-3 input text-center"><button>Register</button></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>