<div class="container-fluid">
    <div class="row">
        <div class="header d-flex align-items-center">
            <div class="logo-div-main">
                <div class="d-flex align-items-center">
                        <div class="logo-div">
                           <div class="logo-div-inner">
                            <img src="../../../assets/images/pngegg (1).png" alt="">
                           </div>
                        </div>
                        <div>
                            <h5>Belle Wedding</h5>
                        </div>

                </div>
            </div>
            <div class="link-div d-flex justify-content-end">
                <div class="link d-flex justify-content-center">
                    <a href="" class="header_links active">Home</a>
                    <a href="" class="header_links">About Us</a>
                    <a href="" class="header_links">Services</a>
                    <a href="" class="header_links">Testimonials</a>
                    <a href="" class="header_links">Gallery</a>
                    <a href="" class="header_links">Contact</a>
                    <a href="" class="header_links">
                        <div class="d-flex">
                            <div class="user-div">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div>Log In</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>