<div class="container-fluid header-login" [ngClass]="{'headerNotShow':headerNotShow}">
    <div class="row">
        <div class="header d-flex align-items-center desktop-nav">
            <div class="logo-div-main">
                <div class="d-flex align-items-center">
                    <div class="logo-div">
                        <div class="logo-div-inner">
                            <img src="../../../assets/images/pngegg (1).png" alt="">
                        </div>
                    </div>
                    <div>
                        <h5>Belle Wedding</h5>
                    </div>

                </div>
            </div>
            <div class="link-div d-flex justify-content-end">
                <div class="link d-flex justify-content-center">
                    <a routerLink="./home" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header_links active">Home</a>
                    <a routerLink="./about" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header_links">About Us</a>
                    <a routerLink="./services" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header_links">Services</a>
                    <a routerLink="./testimonials" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header_links">Testimonials</a>
                    <a routerLink="./gallery" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header_links">Gallery</a>
                    <a routerLink="./contact" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header_links">Contact</a>
                    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">
                        <div class="d-flex">
                            <div class="user-div">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div><button (click)="uersLogOut()" class="button">Log Out</button></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header mob-nav">
            <div class="container">
                <div id="main-content">
                    <div id="title">
                        <a href="../index.html">
                            <div class="title-img">
                                <img src="../../../assets/images/pngegg (1).png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                    <div id="btn" [ngClass]="{ 'active': isMobileNavActive }" (click)="toggleMobileNav()">
                    <div id="cancel-icon" *ngIf="isMobileNavActive">
                        <i class="fas fa-times"></i>
                      </div>
                    <div id="top" *ngIf="!isMobileNavActive"></div>
                    <div id="middle" *ngIf="!isMobileNavActive"></div>
                    <div id="bottom" *ngIf="!isMobileNavActive"></div>
                </div>
                <div id="box" class="" [ngClass]="{ 'active': isMobileNavActive }">
                    <div id="items">
                        <div class="item1"><a routerLink="./home" routerLinkActive="active" ariaCurrentWhenActive="page"
                                class="header_links active">Home</a></div>
                        <div class="item1"><a routerLink="./about" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">About US</a></div>
                        <div class="item1"><a routerLink="./services" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">Services</a></div>
                        <div class="item1"><a routerLink="./testimonials" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">Testimonials</a></div>
                        <div class="item1"><a routerLink="./gallery" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">Gallery</a></div>
                        <div class="item1"><a routerLink="./contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">Contact US</a></div>
                        <div class="item1"><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links" (click)="uersLogOut()">Log out</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main-header" [ngClass]="{'headerShow' :headerShow}">
    <div class="row">
        <div class="header d-flex align-items-center desktop-nav">
            <div class="logo-div-main">
                <div class="d-flex align-items-center">
                    <div class="logo-div">
                        <div class="logo-div-inner">
                            <img src="../../../assets/images/pngegg (1).png" alt="">
                        </div>
                    </div>
                    <div>
                        <h5>Belle Wedding</h5>
                    </div>

                </div>
            </div>
            <div class="link-div d-flex justify-content-end">
                <div class="link d-flex justify-content-center">
                    <a routerLink="./login" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">
                        <div class="d-flex">
                            <div class="user-div">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div>Log In</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="header mob-nav">
            <div class="container">
                <div id="main-content">
                    <div id="title">
                        <a href="../index.html">
                            <div class="title-img">
                                <img src="../../../assets/images/pngegg (1).png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                    <div id="btn" [ngClass]="{ 'active': isMobileNavActive }" (click)="toggleMobileNav()">
                    <div id="cancel-icon" *ngIf="isMobileNavActive">
                        <i class="fas fa-times"></i>
                      </div>
                    <div id="top" *ngIf="!isMobileNavActive"></div>
                    <div id="middle" *ngIf="!isMobileNavActive"></div>
                    <div id="bottom" *ngIf="!isMobileNavActive"></div>
                </div>
                <div id="box" class="" [ngClass]="{ 'active': isMobileNavActive }">
                    <div id="items">
                        <div class="item1"><a routerLink="./login" routerLinkActive="active" ariaCurrentWhenActive="page" class="header_links">Log In</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>