.services {
    width: 100%;
    height: 600px;
    margin-left: 7rem;
    margin-top: 5rem;

    h1 {
        font-family: 'LovelineGlamour';
        font-size: 6rem;
    }

    .h1 {
        position: relative;
    }

    .sub {
        position: absolute;
        content: "";
        top: 58px;
        left: 77px;
        width: 162px;
        height: 50px;
    }

    span {
        font-family: 'LovelineGlamour';
    }

    p {
        font-family: 'Poppins-Light';
    }

    h5 {
        font-family: 'LovelineGlamour';
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .inner-div {
        background-color: #f7efe9;
        position: relative;
        content: "";
        width: 70%;
        height: 370px;
        left: 129px;
        top: 0px;
    }

    .img-div {
        background-color: #000;
        position: absolute;
        content: "";
        width: 100%;
        height: 360px;
        left: -100px;
        top: 90px;
    }

    .img {
        width: 100%;
        height: 100%;
    }


    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    a {
        text-decoration: none;
        position: relative;
        color: #000;
        font-family: 'Poppins-Light';
        // font-family: 'LovelineGlamour';
        font-size: 20px;
    }

    .line {
        position: absolute;
        content: "";
        width: 70px;
        height: 1px;
        left: 120px;
        top: 15px;
        background-color: #dea27a;
    }
}
.gallery {
    height: 500px;
    .gallery-inner-div {
        background-color: #f7efe9;
        position: relative;
        content: "";
        width: 65%;
        height: 370px;
        right: 0px;
    }

    .gallery-img-div {
        background-color: #FFF;
        border: 1px solid #dea27a5e;
        position: absolute;
        content: "";
        width: 100%;
        height: 360px;
        right: -100px;
        top: 90px;
    }

    .gallery-img-div .img {
        width: 100%;
        height: 100%;
    }

    .gallery-img-div .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        font-family: 'LovelineGlamour';
        font-size: 6rem;
    }

    .h1 {
        position: relative;
    }

    .sub {
        position: absolute;
        content: "";
        top: 58px;
        left: 58px;
        width: 170px;
        height: 50px;
    }

    span {
        font-family: 'LovelineGlamour';
    }

    p {
        font-family: 'Poppins-Light';
    }

    a {
        text-decoration: none;
        position: relative;
        color: #000;
        font-family: 'LovelineGlamour';
        font-size: 20px;
    }

    .line {
        position: absolute;
        content: "";
        width: 70px;
        height: 1px;
        left: 120px;
        top: 15px;
        background-color: #dea27a;
    }

}
form{
    input {
        border: none;
        border-bottom: 1px solid #dea27a !important;
        padding: 13px;
        font-family: 'Calligrapher';
        width: 100%;
        color: #000;
    }
    input:hover{
        border: 1px solid #dea27a;
    }
    textarea {
        border: none;
        border-bottom: 1px solid #dea27a !important;
        padding: 13px;
        font-family: 'Calligrapher';
        width: 100%;
        color: #000;
        min-height: 100px;
        max-height: 100px;
    }
    textarea:focus{
        outline: none;
    }
    input:focus {
        outline: none;
      }
    button{
        font-family: 'Calligrapher';
        border: none;
        outline: none;
        color :#000;
        background-color: transparent;
        font-size: 30px;
    }
    button:hover{
        color :#dea27a;
    }
}