<div class="container">
    <div class="services">
        <div class="row">
            <div class="col-lg-4">
                <div class="h1">
                    <h1>A</h1>
                    <div class="sub">
                        <span>bout Belle</span>
                    </div>
                </div>
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
                </p>
                <a href="">View Our Packages
                    <div class="line">

                    </div>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="inner-div">
                    <div class="img-div">
                        <div class="img">
                            <img src="../../../assets/images/about1.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="gallery mb-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="gallery-inner-div">
                    <div class="gallery-img-div">
                        <div class="img">
                            <img src="../../../assets/images/about2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h1">
                    <h1>T</h1>
                    <div class="sub">
                        <span>he Small Details</span>
                    </div>
                </div>
                <p>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font.
                </p>
                <a href="">View Our Photos
                    <div class="line">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
