<div class="container">
    <div class="row">
        <div class="main">
            <div class="color-div">
                <div class="inner-color-div">
                    <h1>We turn your dream into a reality</h1>
                </div>
            </div>
        </div>
        <div class="inner-div-two">
                <hr>
                <div class="d-flex align-items-center mb-5">
                    <div style="width: 33.33%;"><h6>Wedding Coordinator</h6></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-center"><span>1hr <h6>$150</h6></span></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-end"><button>Book Now</button></div>
                </div>
                <hr>
                <div class="d-flex align-items-center mb-5">
                    <div style="width: 33.33%;"><h6>Destination Wedding</h6></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-center"><span>1hr <h6>$150</h6></span></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-end"><button>Book Now</button></div>
                </div>
                <hr>
                <div class="d-flex align-items-center mb-5">
                    <div style="width: 33.33%;"><h6>Full Package</h6></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-center"><span>1hr <h6>$150</h6></span></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-end"><button>Book Now</button></div>
                </div>
                <hr>
                <div class="d-flex align-items-center mb-5">
                    <div style="width: 33.33%;"><h6>Partial Package</h6></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-center"><span>1hr <h6>$150</h6></span></div>
                    <div style="width: 33.33%;" class="d-flex justify-content-end"><button>Book Now</button></div>
                </div>
        </div>
    </div>
    <div>
        <!-- <app-calendar></app-calendar> -->
    </div>
</div>
